<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {$if eq .faviconFileId 0}
    <link rel="shortcut icon" href="/images/favicon.png"/>
    {$else}
    <link rel="shortcut icon" href="/ui/image/{$ .faviconFileId}"/>
    {$end}
    <title>登录{$ htmlEncode .systemName}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/css/iview.css?v={$ .teaVersion}"/>
    <link rel="stylesheet" type="text/css" href="/css/unified-ui.css?v={$ .teaVersion}"/>
    <link rel="stylesheet" type="text/css" href="/_/@default/index/index.css?v={$ .teaVersion}"/>
    {$TEA.VUE}
    <script type="text/javascript" src="/js/iview.min.js"></script>
    <script type="text/javascript">
        if (window.ViewUI && window.Vue) { Vue.use(window.ViewUI) }
        else if (window.iview && window.Vue) { Vue.use(window.iview) }
    </script>
    <script type="text/javascript" src="/js/md5.min.js"></script>
    <script type="text/javascript" src="/js/utils.min.js"></script>
    <script type="text/javascript" src="/js/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="/js/components.js"></script>
</head>
<body class="login-shell">
<div class="login-page" v-cloak="">
    <div class="login-hero">
        <div class="login-card">
            <Card :bordered="false" shadow>
                <div class="login-heading">
                    <div class="title">登录{$ htmlEncode .systemName}</div>
                    <div class="sub-title">欢迎回来，请输入账号信息</div>
                </div>
                <form method="post" class="login-form" data-tea-action="$" data-tea-before="submitBefore" data-tea-done="submitDone" data-tea-success="submitSuccess" autocomplete="off">
                    <csrf-token></csrf-token>
                    <input type="hidden" name="password" v-model="passwordMd5"/>
                    <input type="hidden" name="token" v-model="token"/>
                    <Form :label-width="0">
                        <FormItem>
                            <Input type="text"
                                   name="username"
                                   v-model="username"
                                   size="large"
                                   clearable
                                   placeholder="请输入用户名"
                                   ref="usernameRef"
                                   @input="changeUsername">
                                <Icon slot="prefix" type="ios-person-outline"></Icon>
                            </Input>
                        </FormItem>
                        <FormItem>
                            <Input type="password"
                                   v-model="password"
                                   size="large"
                                   clearable
                                   name="password_visible"
                                   placeholder="请输入密码"
                                   ref="passwordRef"
                                   @input="changePassword">
                                <Icon slot="prefix" type="ios-lock-outline"></Icon>
                            </Input>
                        </FormItem>

                        <div class="more-options" v-if="rememberLogin">
                            <a href="" @click.prevent="showMoreOptions()" class="more-link">
                                更多选项
                                <Icon :type="moreOptionsVisible ? 'ios-arrow-up' : 'ios-arrow-down'"></Icon>
                            </a>
                            <transition name="fade">
                                <div class="options-body" v-show="moreOptionsVisible">
                                    <Checkbox name="remember" value="1" checked>在此设备记住登录（14天）</Checkbox>
                                </div>
                            </transition>
                        </div>

                        <FormItem>
                            <Button type="primary" long size="large" html-type="submit" v-if="!isSubmitting">登录</Button>
                            <Button type="primary" long size="large" loading v-else>登录中</Button>
                        </FormItem>
                    </Form>
                </form>
            </Card>
        </div>
    </div>
</div>
</body>
</html>
